#define LSH(k1) &hm LSHIFT k1
#define LCH(k1) &hm LCTRL k1
#define LAH(k1) &hm LALT k1
#define LGH(k1) &hm LGUI k1

#define RSH(k1) &hm RSHIFT k1
#define RCH(k1) &hm RCTRL k1
#define RAH(k1) &hm RALT k1
#define RGH(k1) &hm RGUI k1

#define BRI_UP &kp C_BRI_UP
#define BRI_DN &kp C_BRI_DN
#define VOL_UP &kp C_VOL_UP
#define VOL_DN &kp C_VOL_DN
#define MUTE   &kp K_MUTE

#define RCHQ &hmq RCTRL 0

/ {
    keymap {
        compatible = "zmk,keymap";
        qwerty {
            bindings = <
            /*╭───────╭───────────┬───────────┬───────────┬───────────┬───────────╮                           ╭───────────┬───────────┬───────────┬───────────┬───────────╮───────╮*/
            /*│       │  Q        │  W        │  E        │  R        │  T        │                           │  Y        │  U        │  I        │  O        │  P        │       │*/
                &none   &kp Q       &kp W       &kp E       &kp R       &kp T     /*                         */ &kp Y       &kp U       &kp I       &kp O       &kp P       &none
            /*├───────├───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┤───────┤*/
            /*│       │  A        │  S        │  D        │  F        │  G        │                           │  H        │  J        │  K        │  L        │  '"`      │       │*/
                &none   LCH(A)      LAH(S)      LGH(D)      LSH(F)      &kp G     /*         QWERTY          */ &kp H       RSH(J)      RGH(K)       RAH(L)     RCHQ        &none
            /*├───────├───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┤───────┤*/
            /*│       │  Z        │  X        │  C        │  V        │  B        │                           │  N        │  M        │  ,;       │  .:       │  ?!       │       │*/
                &none   &kp Z       &kp X       &kp C       &kp V       &kp B     /*                         */ &kp N       &kp M       &com2        &dot2      &quex       &none
            /*╰───────╰───────────┴───────────┼───────────┼───────────┼───────────┼───────────╮   ╭───────────┼───────────┼───────────┼───────────┼───────────┴───────────╯───────╯*/
            /*                                            │           │           │           │   │           │           │           │                                            */
                                                            &mo SYS     &mo SYM     &kp LSHIFT/* */ &kp SPACE   &mo NAV     &kp LALT
            /*                                            ╰───────────┴───────────┤           │   │           ├───────────┴───────────╯                                            */
            /*                                                                    ╰───────────╯   ╰───────────╯                                                                    */
            >;
        };
        symbol {
            bindings = <
            /*╭───────╭───────────┬───────────┬───────────┬───────────┬───────────╮                           ╭───────────┬───────────┬───────────┬───────────┬───────────╮───────╮*/
            /*│       │  1        │  2        │  3        │  4        │  5        │                           │  6        │  7        │  8        │  9        │  0        │       │*/
                &none   &kp N1      &kp N2      &kp N3      &kp N4      &kp N5    /*                         */ &kp N6      &kp N7      &kp N8      &kp N9      &kp N0      &none
            /*├───────├───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┤───────┤*/
            /*│       │  &        │  <        │  {        │  (        │  [        │                           │  /        │  *        │  -        │  +        │  =        │       │*/
                &none   LCH(AMPS)   LAH(LT)     LGH(LBRC)   LSH(LPAR)   &kp LBKT  /*                         */ &kp FSLH    RSH(ASTRK)  RGH(MINUS)  RAH(PLUS)   RCH(EQUAL)  &none
            /*├───────├───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┤───────┤*/
            /*│       │  |        │  >        │  }        │  )        │  ]        │                           │  \        │  %        │  _        │  ^        │  #        │       │*/
                &none   &kp PIPE    &kp GT      &kp RBRC    &kp RPAR    &kp RBKT  /*                         */ &kp BSLH    &kp PRCNT   &kp UNDER   &kp CARET   &kp HASH    &none
            /*╰───────╰───────────┴───────────┼───────────┼───────────┼───────────┼───────────╮   ╭───────────┼───────────┼───────────┼───────────┼───────────┴───────────╯───────╯*/
            /*                                            │           │           │           │   │           │  ~        │  @        │                                            */
                                                            &none       &none       &kp LSHIFT/* */ &kp SPACE   &kp TILDE   &kp AT
            /*                                            ╰───────────┴───────────┤           │   │           ├───────────┴───────────╯                                            */
            /*                                                                    ╰───────────╯   ╰───────────╯                                                                    */
            >;
        };
        navigation {
            bindings = <
            /*╭───────╭───────────┬───────────┬───────────┬───────────┬───────────╮                           ╭───────────┬───────────┬───────────┬───────────┬───────────╮───────╮*/
            /*│       │           │           │           │           │           │                           │           │           │           │           │           │       │*/
                &none   &terminal   &scrnshot   &cutshot    &none       &kp ESC   /*                         */ &kp BSPC    &kp HOME    &kp UP      &kp END     &kp PG_UP   &none
            /*├───────├───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┤───────┤*/
            /*│       │           │           │           │           │           │                           │           │           │           │           │           │       │*/
                &none   &kp LCTRL   &kp LALT    &kp LGUI    &kp LSHIFT  &caps_word/*                         */ &kp RET     &kp LEFT    &kp DOWN    &kp RIGHT   &kp PG_DN   &none
            /*├───────├───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┤───────┤*/
            /*│       │           │           │           │           │           │                           │           │  €        │  $        │  £        │           │       │*/
                &none   &none       &cut        &copy       &paste      &none     /*                         */ &kp DEL     &euro       &kp DLLR    &pound      &none       &none
            /*╰───────╰───────────┴───────────┼───────────┼───────────┼───────────┼───────────╮   ╭───────────┼───────────┼───────────┼───────────┼───────────┴───────────╯───────╯*/
            /*                                            │           │           │           │   │           │           │           │                                            */
                                                            &kp Q       &kp TAB     &none     /* */ &none       &none       &none
            /*                                            ╰───────────┴───────────┤           │   │           ├───────────┴───────────╯                                            */
            /*                                                                    ╰───────────╯   ╰───────────╯                                                                    */
            >;
        };
        system {
            bindings = <
            /*╭───────╭───────────┬───────────┬───────────┬───────────┬───────────╮                           ╭───────────┬───────────┬───────────┬───────────┬───────────╮───────╮*/
            /*│       │           │           │           │           │           │                           │           │           │           │           │           │       │*/
                &none   &terminal   &scrnshot   &cutshot    &none       &none     /*                         */ &a_tree     &a_logc     &a_logd     &a_usage    &a_term     &none
            /*┼───────├───────────├───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┤───────┤*/
            /*│       │           │           │           │           │           │                           │           │           │           │           │           │       │*/
                &none   BRI_DN      BRI_UP      VOL_DN      VOL_UP      MUTE      /*                         */ &a_all      &a_action   &a_files    &a_class    &a_sup      &none
            /*┼───────├───────────┼───────────┼───────────┼───────────├───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┤───────┤*/
            /*│       │           │           │           │           │           │                           │           │           │           │           │           │       │*/
                &none   &none       &kp C_PREV  &kp C_PP    &kp C_NEXT  &none     /*                         */ &a_rl       &a_debug    &a_dbp      &a_dbps     &a_sdown    &none
            /*╰───────╰───────────┴───────────┼───────────┼───────────┼───────────┼───────────╮   ╭───────────┼───────────┼───────────┼───────────┼───────────┴───────────╯───────╯*/
            /*                                            │           │           │           │   │           │           │           │                                            */
                                                            &none       &none       &kp LSHIFT/* */ &a_rf       &a_back     &a_forward
            /*                                            ╰───────────┴───────────┤           │   │           ├───────────┴───────────╯                                            */
            /*                                                                    ╰───────────╯   ╰───────────╯                                                                    */
            >;
        };
        function {
            bindings = <
            /*╭───────╭───────────┬───────────┬───────────┬───────────┬───────────╮                           ╭───────────┬───────────┬───────────┬───────────┬───────────╮───────╮*/
            /*│       │  F1       │  F2       │  F3       │  F4       │  F5       │                           │  F6       │  F7       │  F8       │  F9       │  F10      │       │*/
                &none   &kp F1      &kp F2      &kp F3      &kp F4      &kp F5    /*                         */ &kp F6      &kp F7      &kp F8      &kp F9      &kp F10     &none
            /*├───────├───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┤───────┤*/
            /*│       │           │           │           │           │  F11      │                           │  F12      │           │           │           │           │       │*/
                &none   &kp LCTRL   &kp LALT    &kp LGUI    &kp LSHIFT  &kp F11   /*                         */ &kp F12     &kp RSHIFT  &kp RGUI    &kp RALT    &kp RCTRL   &none
            /*├───────├───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┤───────┤*/
            /*│       │           │           │           │           │           │                           │           │           │           │           │           │       │*/
                &none   &none       &none       &none       &none       &none     /*                         */ &none       &none       &bt BT_PRV  &bt BT_NXT  &bt BT_CLR  &none
            /*╰───────╰───────────┴───────────┼───────────┼───────────┼───────────┼───────────╮   ╭───────────┼───────────┼───────────┼───────────┼───────────┴───────────╯───────╯*/
            /*                                            │           │           │           │   │           │           │           │                                            */
                                                            &none       &none       &none     /* */ &none       &none       &none
            /*                                            ╰───────────┴───────────┤           │   │           ├───────────┴───────────╯                                            */
            /*                                                                    ╰───────────╯   ╰───────────╯                                                                    */
            >;
        };





        colemak_dh {
            bindings = <
            /*╭───────╭───────────┬───────────┬───────────┬───────────┬───────────╮                           ╭───────────┬───────────┬───────────┬───────────┬───────────╮───────╮*/
            /*│       │  Q        │  W        │  F        │  P        │  B        │                           │  J        │  L        │  U        │  Y        │  '"`      │       │*/
                &none   &kp Q       &kp W       &kp F       &kp P       &kp B     /*                         */ &kp J       &kp L       &kp U       &kp Y       &qtg        &none
            /*├───────├───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┤───────┤*/
            /*│       │  A        │  R        │  S        │  T        │  G        │                           │  M        │  N        │  E        │  I        │  O        │       │*/
                &none   LCH(A)      LAH(R)      LGH(S)      LSH(T)      &kp G     /*                         */ &kp M       RSH(N)      RGH(E)      RAH(I)      RCH(O)      &none
            /*├───────├───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┤───────┤*/
            /*│       │  Z        │  X        │  C        │  D        │  V        │                           │  K        │  H        │  ,;       │  .:       │  ?!       │       │*/
                &none   &kp Z       &kp X       &kp C       &kp D       &kp V     /*                         */ &kp K       &kp H       &com2       &dot2       &quex       &none
            /*╰───────╰───────────┴───────────┼───────────┼───────────┼───────────┼───────────╮   ╭───────────┼───────────┼───────────┼───────────┼───────────┴───────────╯───────╯*/
            /*                                            │           │           │           │   │           │           │           │                                            */
                                                            &mo SYS     &mo NAV     &kp LSHIFT/* */ &kp SPACE   &mo SYM     &kp LALT
            /*                                            ╰───────────┴───────────┤           │   │           ├───────────┴───────────╯                                            */
            /*                                                                    ╰───────────╯   ╰───────────╯                                                                    */
            >;
        };
    };
};