/ {
    keymap {
        compatible = "zmk,keymap";
        qwerty {
            bindings = <
            /*╭───────╭───────────┬───────────┬───────────┬───────────┬───────────╮                           ╭───────────┬───────────┬───────────┬───────────┬───────────╮───────╮*/
            /*│       │     Q     │     W     │     E     │     R     │     T     │                           │     Y     │     U     │     I     │     O     │     P     │       │*/
                &none   &kp Q       &kp W       &kp E       &kp R       &kp T     /*                         */ &kp Y       &kp U       &kp I       &kp O       &kp P       &none
            /*├───────├───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┤───────┤*/
            /*│       │     A     │     S     │     D     │     F     │     G     │                           │     H     │     J     │     K     │     L     │     '     │       │*/
                &none   LCH(A)      LAH(S)      LGH(D)      LSH(F)      LHH(G)    /*                         */ RHH(H)      RSH(J)      RGH(K)      RAH(L)      RCH(SQT)    &none
            /*├───────├───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┤───────┤*/
            /*│       │     Z     │     X     │     C     │     V     │     B     │                           │     N     │     M     │     ,     │     .     │     ?     │       │*/
                &none   &kp Z       &kp X       &kp C       LMH(V)      &kp B     /*──────────╮   ╭──────────*/ &kp N       RMH(M)      &kp COMMA   &kp DOT     &kp QMARK   &none
            /*╰───────╰───────────┴───────────┴───────────┼───────────┼───────────┤           │   │           ├───────────┼───────────┼───────────┴───────────┴───────────╯───────╯*/
            /*                                            │  numbers  │    nav    │   shift   │   │   space   │  symbols  │    alt    │                                            */
                                                            &mo NUM     &mo NAV     &kp LSHIFT/* */ &kp SPACE   &mo SYM     &kp LALT  
            /*                                            ╰───────────┴───────────┤           │   │           ├───────────┴───────────╯                                            */
            /*                                                                    ╰───────────╯   ╰───────────╯                                                                    */
            >;
        };
        navigation {
            bindings = <
            /*╭───────╭───────────┬───────────┬───────────┬───────────┬───────────╮                           ╭───────────┬───────────┬───────────┬───────────┬───────────╮───────╮*/
            /*│       │  escape   │           │ screenshot│ screencut │           │                           │    <<<    │    vvv    │    ^^^    │    >>>    │ backspace │       │*/
                &none   &kp ESC     &none       &scrnshot   &scrncut    &none     /*                         */ &kp HOME    &kp PG_DN   &kp PG_UP   &kp END     &kp BSPC    &none
            /*├───────├───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┤───────┤*/
            /*│       │    ctrl   │    alt    │    cmd    │   shift   │           │                           │     <     │     v     │     ^     │     >     │   enter   │       │*/
                &none   &kp LCTRL   &kp LALT    &kp LGUI    &kp LSHIFT  &none     /*                         */ &kp LEFT    &kp DOWN    &kp UP      &kp RIGHT   &kp RET     &none
            /*├───────├───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┤───────┤*/
            /*│       │           │           │           │           │           │                           │    tab    │ prev song │ play/pause│ next song │   delete  │       │*/
                &none   &kp BRI_DN  &kp BRI_UP  &kp VOL_DN  &kp VOL_UP  &kp MUTE  /*──────────╮   ╭──────────*/ &kp TAB     &kp C_PREV  &kp C_PP    &kp C_NEXT  &kp DEL     &none
            /*╰───────╰───────────┴───────────┴───────────┼───────────┼───────────┤           │   │           ├───────────┼───────────┼───────────┴───────────┴───────────╯───────╯*/
            /*                                            │           │[activator]│           │   │           │           │           │                                            */
                                                            &bt BT_CLR  &none       &none     /* */ &trans      &trans      &trans 
            /*                                            ╰───────────┴───────────┤           │   │           ├───────────┴───────────╯                                            */
            /*                                                                    ╰───────────╯   ╰───────────╯                                                                    */
            >;
        };
        symbol {
            bindings = <
            /*╭───────╭───────────┬───────────┬───────────┬───────────┬───────────╮                           ╭───────────┬───────────┬───────────┬───────────┬───────────╮───────╮*/
            /*│       │     €     │     -     │     +     │     |     │     ^     │                           │     {     │     }     │     <     │     >     │     `     │       │*/
                &none   &euro       &kp MINUS   &kp PLUS    &kp PIPE    &kp CARET /*                         */ &kp LBRC    &kp RBRC    &kp LT      &kp GT      &kp GRAVE   &none
            /*├───────├───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┤───────┤*/
            /*│       │     ~     │     /     │     *     │     \     │     %     │                           │     (     │     )     │     @     │     #     │     "     │       │*/
                &none   LCH(TILDE)  LAH(FSLH)   LGH(ASTRK)  LSH(BSLH)   LHH(PRCNT)/*                         */ RHH(LPAR)   RSH(RPAR)   RGH(AT)     RAH(HASH)   RCH(DQT)    &none
            /*├───────├───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┤───────┤*/
            /*│       │     £     │     _     │     =     │     &     │     $     │                           │     [     │     ]     │     ;     │     :     │     !     │       │*/
                &none   &pound      &kp UNDER   &kp EQUAL   LMH(AMPS)   &kp DLLR  /*──────────╮   ╭──────────*/ &kp LBKT    RMH(RBKT)   &kp SEMI    &kp COLON   &kp EXCL    &none
            /*╰───────╰───────────┴───────────┴───────────┼───────────┼───────────┤           │   │           ├───────────┼───────────┼───────────┴───────────┴───────────╯───────╯*/
            /*                                            │           │           │           │   │           │[activator]│           │                                            */
                                                            &trans      &trans      &trans    /* */ &none       &none       &bt BT_CLR
            /*                                            ╰───────────┴───────────┤           │   │           ├───────────┴───────────╯                                            */
            /*                                                                    ╰───────────╯   ╰───────────╯                                                                    */
            >;
        };
        number {
            bindings = <
            /*╭───────╭───────────┬───────────┬───────────┬───────────┬───────────╮                           ╭───────────┬───────────┬───────────┬───────────┬───────────╮───────╮*/
            /*│       │    F1     │    F2     │    F3     │    F4     │    F5     │                           │    F6     │    F7     │    F8     │    F9     │    F10    │       │*/
                &none   &kp F1      &kp F2      &kp F3      &kp F4      &kp F5    /*                         */ &kp F6      &kp F7      &kp F8      &kp F9      &kp F10     &none
            /*┼───────├───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┤───────┤*/
            /*│       │     1     │     2     │     3     │     4     │     5     │                           │     6     │     7     │     8     │     9     │     0     │       │*/
                &none   LCH(N1)     LAH(N2)     LGH(N3)     LSH(N4)     LHH(N5)   /*                         */ RHH(N6)     RSH(N7)     RGH(N8)     RAH(N9)     RCH(N0)     &none
            /*┼───────├───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┤───────┤*/
            /*│       │    F11    │    F12    │     /     │     *     │     _     │                           │     -     │     +     │     ,     │     .     │     =     │       │*/
                &none   &kp F11     &kp F12     &kp FSLH    &kp ASTRK   &kp UNDER /*──────────╮   ╭──────────*/ &kp MINUS   &kp PLUS    &kp COMMA   &kp DOT     &kp EQUAL   &none
            /*╰───────╰───────────┴───────────┴───────────┼───────────┼───────────┤           │   │           ├───────────┼───────────┼───────────┴───────────┴───────────╯───────╯*/
            /*                                            │           │           │           │   │           │           │           │                                            */
                                                            &none       &none       &none     /* */ &trans      &trans      &trans
            /*                                            ╰───────────┴───────────┤           │   │           ├───────────┴───────────╯                                            */
            /*                                                                    ╰───────────╯   ╰───────────╯                                                                    */
            >;
        };
        system {
            bindings = <
            /*╭───────╭───────────┬───────────┬───────────┬───────────┬───────────╮                           ╭───────────┬───────────┬───────────┬───────────┬───────────╮───────╮*/
            /*│       │  F1       │  F2       │  F3       │  F4       │  F5       │                           │  F6       │  F7       │  F8       │  F9       │  F10      │       │*/
                &none   &kp F1      &kp F2      &kp F3      &kp F4      &kp F5    /*                         */ &kp F6      &kp F7      &kp F8      &kp F9      &kp F10     &none
            /*├───────├───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┤───────┤*/
            /*│       │           │           │           │           │  F11      │                           │  F12      │           │           │           │           │       │*/
                &none   &kp LCTRL   &kp LALT    &kp LGUI    &kp LSHIFT  &kp F11   /*                         */ &kp F12     &kp RSHIFT  &kp RGUI    &kp RALT    &kp RCTRL   &none
            /*├───────├───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┤───────┤*/
            /*│       │           │           │           │           │           │                           │           │           │           │           │           │       │*/
                &none   &none       &none       &none       &none       &none     /*──────────╮   ╭──────────*/ &none       &none       &bt BT_PRV  &bt BT_NXT  &bt BT_CLR  &none
            /*╰───────╰───────────┴───────────┴───────────┼───────────┼───────────┤           │   │           ├───────────┼───────────┼───────────┴───────────┴───────────╯───────╯*/
            /*                                            │           │           │           │   │           │           │           │                                            */
                                                            &none       &none       &none     /* */ &none       &none       &none
            /*                                            ╰───────────┴───────────┤           │   │           ├───────────┴───────────╯                                            */
            /*                                                                    ╰───────────╯   ╰───────────╯                                                                    */
            >;
        };
    };
};