#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#include "common/aliases.dtsi"
#include "common/macros.dtsi"
#include "common/behaviors.dtsi"

#define QWR 0
#define LWR 1
#define RSE 2
#define TRD 3
#define UTL 4

/ {
    keymap {
        compatible = "zmk,keymap";
        qwerty {
            bindings = <
            /*╭───────╭───────────┬───────────┬───────────┬───────────┬───────────╮                           ╭───────────┬───────────┬───────────┬───────────┬───────────╮───────╮*/
                &none   &kp Q       &kp W       &kp E       &kp R       &kp T     /*                         */ &kp Y       &kp U       &kp I       &kp O       &kp P       &none
            /*├───────├───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┤───────┤*/
                &none   LCH(A)      LAH(S)      LGH(D)      LSH(F)      LHH(G)    /*                         */ RHH(H)      RSH(J)      RGH(K)      RAH(L)      RCH(SQT)    &none
            /*├───────├───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┤───────┤*/
                &none   &kp Z       &kp X       &kp C       LMH(V)      &kp B     /*                         */ &kp N       RMH(M)      &kp COMMA   &kp DOT     &kp QMARK   &none
            /*╰───────╰───────────┴───────────┴───────────┼───────────┼───────────┼───────────╮   ╭───────────┼───────────┼───────────┼───────────┴───────────┴───────────╯───────╯*/
                                                            &mo TRD     &mo LWR     &kp LSHIFT/* */ &kp SPACE   &mo RSE     &kp LALT
            /*                                            ╰───────────┴───────────┤           │   │           ├───────────┴───────────╯                                            */
            /*                                                                    ╰───────────╯   ╰───────────╯                                                                    */
            >;
        };
        lower {
            bindings = <
            /*╭───────╭───────────┬───────────┬───────────┬───────────┬───────────╮                           ╭───────────┬───────────┬───────────┬───────────┬───────────╮───────╮*/
                &none   &kp BRI_DN  &kp BRI_UP  &kp VOL_DN  &kp VOL_UP  &kp MUTE  /*                         */ &none       &kp C_PREV  &kp C_PP    &kp C_NEXT  &kp BSPC    &none
            /*├───────├───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┤───────┤*/          
                &none   &kp LCTRL   &kp LALT    &kp LGUI    &kp LSHIFT  &caps_word/*                         */ &kp LEFT    &kp DOWN    &kp UP      &kp RIGHT   &kp RET     &none
            /*├───────├───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┤───────┤*/
                &none   &none       &none       &scrnshot   &scrncut    &none     /*                         */ &kp ESC     &kp TAB     &none       &none       &kp DEL     &none
            /*╰───────╰───────────┴───────────┴───────────┼───────────┼───────────┼───────────╮   ╭───────────┼───────────┼───────────┼───────────┴───────────┴───────────╯───────╯*/
                                                            &none       &none       &none     /* */ &trans      &trans      &trans 
            /*                                            ╰───────────┴───────────┤           │   │           ├───────────┴───────────╯                                            */
            /*                                                                    ╰───────────╯   ╰───────────╯                                                                    */
            >;
        };
        raise {
            bindings = <
            /*╭───────╭───────────┬───────────┬───────────┬───────────┬───────────╮                           ╭───────────┬───────────┬───────────┬───────────┬───────────╮───────╮*/
                &none   &kp NUBS    &kp MINUS   &kp PLUS    &kp PIPE    &kp CARET /*                         */ &kp LBRC    &kp RBRC    &kp LT      &kp GT      &kp GRAVE   &none
            /*├───────├───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┤───────┤*/
                &none   LCH(TILDE)  LAH(FSLH)   LGH(ASTRK)  LSH(BSLH)   LHH(PRCNT)/*                         */ RHH(LPAR)   RSH(RPAR)   RGH(AT)     RAH(HASH)   RCH(DQT)    &none
            /*├───────├───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┤───────┤*/
                &none   &euro       &kp UNDER   &kp EQUAL   LMH(AMPS)   &kp DLLR  /*                         */ &kp LBKT    RMH(RBKT)   &kp SEMI    &kp COLON   &kp EXCL    &none
            /*╰───────╰───────────┴───────────┴───────────┼───────────┼───────────┼───────────╮   ╭───────────┼───────────┼───────────┼───────────┴───────────┴───────────╯───────╯*/
                                                            &trans      &trans      &trans    /* */ &none       &none       &none
            /*                                            ╰───────────┴───────────┤           │   │           ├───────────┴───────────╯                                            */
            /*                                                                    ╰───────────╯   ╰───────────╯                                                                    */
            >;
        };
        third {
            bindings = <
            /*╭───────╭───────────┬───────────┬───────────┬───────────┬───────────╮                           ╭───────────┬───────────┬───────────┬───────────┬───────────╮───────╮*/
                &none   &kp F1      &kp F2      &kp F3      &kp F4      &kp F5    /*                         */ &kp F6      &kp F7      &kp F8      &kp F9      &kp F10     &none
            /*├───────├───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┤───────┤*/
                &none   LCH(N1)     LAH(N2)     LGH(N3)     LSH(N4)     &kp N5    /*                         */ &kp N6      RSH(N7)     RGH(N8)     RAH(N9)     RCH(N0)     &none
            /*├───────├───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┤───────┤*/
                &none   &none       &none       &none       &none       &kp F11   /*                         */ &kp F12     &none       &none       &none       &none       &none
            /*╰───────╰───────────┴───────────┴───────────┼───────────┼───────────┼───────────╮   ╭───────────┼───────────┼───────────┼───────────┴───────────┴───────────╯───────╯*/
                                                            &none       &none       &none     /* */ &none       &none       &none
            /*                                            ╰───────────┴───────────┤           │   │           ├───────────┴───────────╯                                            */
            /*                                                                    ╰───────────╯   ╰───────────╯                                                                    */
            >;
        };
        utils {
            bindings = <
            /*╭───────╭───────────┬───────────┬───────────┬───────────┬───────────╮                           ╭───────────┬───────────┬───────────┬───────────┬───────────╮───────╮*/
                &none   &kp BRI_DN  &kp BRI_UP  &kp VOL_DN  &kp VOL_UP  &kp MUTE  /*                         */ &none       &kp C_PREV  &kp C_PP    &kp C_NEXT  &lock       &none
            /*├───────├───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┤───────┤*/
                &none   &none       &none       &none       &none       &none     /*                         */ &none       &none       &none       &none       &none       &none
            /*├───────├───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┤───────┤*/
                &none   &none       &none       &scrnshot   &scrncut    &none     /*                         */ &none       &none       &bt BT_PRV  &bt BT_NXT  &bt BT_CLR  &none
            /*╰───────╰───────────┴───────────┴───────────┼───────────┼───────────┼───────────╮   ╭───────────┼───────────┼───────────┼───────────┴───────────┴───────────╯───────╯*/
                                                            &none       &none       &none     /* */ &none       &none       &none
            /*                                            ╰───────────┴───────────┤           │   │           ├───────────┴───────────╯                                            */
            /*                                                                    ╰───────────╯   ╰───────────╯                                                                    */
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <LWR RSE>;
            then-layer = <UTL>;
        };
    };

    /*
	  ╭────────────────────────╮ ╭────────────────────────╮
	  │  0   1   2   3   4   5 │ │  6   7   8   9  10  11 │
	  │ 12  13  14  15  16  17 │ │ 18  19  20  21  22  23 │
	  │ 24  25  26  27  28  29 │ │ 30  31  32  33  34  35 │
	  ╰───────────╮ 36  37  38 │ │ 39  40  41 ╭───────────╯
	              ╰────────────╯ ╰────────────╯            
	*/

    combos {
        compatible = "zmk,combos";

        // left side
        combo_esc {
            timeout-ms = <50>;
            key-positions = <3 4>;
            bindings = <&kp ESC>;
        };
        combo_tab {
            timeout-ms = <50>;
            key-positions = <15 16>;
            bindings = <&kp TAB>;
        };
        
       	// right side
        combo_backspace {
            timeout-ms = <50>;
            key-positions = <7 8>;
            bindings = <&kp BSPC>;
        };
        combo_delete {
            timeout-ms = <50>;
            key-positions = <8 9>;
            bindings = <&kp DEL>;
        };
        combo_return {
            timeout-ms = <50>;
            key-positions = <19 20>;
            bindings = <&kp RET>;
        };
        combo_space {
            timeout-ms = <50>;
            key-positions = <31 32>;
            bindings = <&kp DEL>;
        };

        // both
        combo_caps_word {
            timeout-ms = <50>;
            key-positions = <16 19>;
            bindings = <&caps_word>;
        };
    };
};