/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define QWE 0
#define LWR 1
#define RSE 2
#define SYS 3
#define FUN 4
// not used
#define CDH 5
#define SYR 6


#include "common/behaviors.dtsi"
#include "corne/combos.dtsi"
#include "common/macros.dtsi"
#include "corne/conditional_layers.dtsi"

#define LSH(k1) &hm LSHIFT k1
#define LCH(k1) &hm LCTRL k1
#define LAH(k1) &hm LALT k1
#define LGH(k1) &hm LGUI k1

#define RSH(k1) &hm RSHIFT k1
#define RCH(k1) &hm RCTRL k1
#define RAH(k1) &hm RALT k1
#define RGH(k1) &hm RGUI k1

#define BRI_UP &kp C_BRI_UP
#define BRI_DN &kp C_BRI_DN
#define VOL_UP &kp C_VOL_UP
#define VOL_DN &kp C_VOL_DN
#define MUTE   &kp K_MUTE

#define RGHC &hmc RGUI 0
#define RAHD &hmd RALT 0
#define RCHQ &hmq RCTRL 0

/ {
    keymap {
        compatible = "zmk,keymap";
        qwerty {
            bindings = <
            /*╭───────╭───────────┬───────────┬───────────┬───────────┬───────────╮                           ╭───────────┬───────────┬───────────┬───────────┬───────────╮───────╮*/
            /*│       │  Q        │  W        │  E        │  R        │  T        │                           │  Y        │  U        │  I        │  O        │  P        │       │*/
                &none   &kp Q       &kp W       &kp E       &kp R       &kp T     /*                         */ &kp Y       &kp U       &kp I       &kp O       &kp P       &none
            /*├───────├───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┤───────┤*/
            /*│       │  A        │  S        │  D        │  F        │  G        │                           │  H        │  J        │  K        │  L        │  '"`      │       │*/
                &none   &kp A       &kp S       &kp D       &kp F       &kp G     /*                         */ &kp H       &kp J       &kp K       &kp L       &qtg        &none
            /*├───────├───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┤───────┤*/
            /*│       │  Z        │  X        │  C        │  V        │  B        │                           │  N        │  M        │  ,;       │  .:       │  ?!       │       │*/
                &none   LCH(Z)      LAH(X)      LGH(C)      LSH(V)      &kp B     /*                         */ &kp N       RSH(M)      RGHC        RAHD        RCHQ        &none
            /*╰───────╰───────────┴───────────┼───────────┼───────────┼───────────┼───────────╮   ╭───────────┼───────────┼───────────┼───────────┼───────────┴───────────╯───────╯*/
            /*                                            │           │           │           │   │           │           │  -        │                                            */
                                                            &mo SYS     &mo LWR     &kp LSHIFT/* */ &kp SPACE   &mo RSE     &kp MINUS
            /*                                            ╰───────────┴───────────┤           │   │           ├───────────┴───────────╯                                            */
            /*                                                                    ╰───────────╯   ╰───────────╯                                                                    */
            >;
        };
        lower {
            bindings = <
            /*╭───────╭───────────┬───────────┬───────────┬───────────┬───────────╮                           ╭───────────┬───────────┬───────────┬───────────┬───────────╮───────╮*/
            /*│       │           │           │           │           │           │                           │           │           │           │           │           │       │*/
                &none   &terminal   &scrnshot   &cutshot    &caps_word  &none     /*                         */ &kp BSPC    &kp DEL     &none       &none       &none       &none
            /*├───────├───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┤───────┤*/
            /*│       │           │           │           │           │           │                           │           │           │           │           │           │       │*/
                &none   &none       &none       &none       &none       &none     /*                         */ &kp RET     &kp LEFT    &kp DOWN    &kp UP      &kp RIGHT   &none
            /*├───────├───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┤───────┤*/
            /*│       │           │           │           │           │           │                           │           │           │           │           │           │       │*/
                &none   &kp LCTRL   &kp LALT    &kp LGUI    &kp LSHIFT  &none     /*                         */ &kp ESC     &kp HOME    &kp PG_DN   &kp PG_UP   &kp END     &none
            /*╰───────╰───────────┴───────────┼───────────┼───────────┼───────────┼───────────╮   ╭───────────┼───────────┼───────────┼───────────┼───────────┴───────────╯───────╯*/
            /*                                            │           │           │           │   │           │           │           │                                            */
                                                            &none       &none       &none     /* */ &kp SPACE   &kp TAB     &kp Q
            /*                                            ╰───────────┴───────────┤           │   │           ├───────────┴───────────╯                                            */
            /*                                                                    ╰───────────╯   ╰───────────╯                                                                    */
            >;
        };
        raise {
            bindings = <
            /*╭───────╭───────────┬───────────┬───────────┬───────────┬───────────╮                           ╭───────────┬───────────┬───────────┬───────────┬───────────╮───────╮*/
            /*│       │  1        │  2        │  3        │  4        │  5        │                           │  6        │  7        │  8        │  9        │  0        │       │*/
                &none   &kp N1      &kp N2      &kp N3      &kp N4      &kp N5    /*                         */ &kp N6      &kp N7      &kp N8      &kp N9      &kp N0      &none
            /*├───────├───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┤───────┤*/
            /*│       │  ^        │  <        │  {        │  (        │  [        │                           │  /        │  +        │  *        │  =        │  &        │       │*/
                &none   &kp CARET   &kp LT      &kp LBRC    &kp LPAR    &kp LBKT  /*                         */ &kp FSLH    &kp PLUS    &kp ASTRK   &kp EQUAL   &kp AMPS    &none
            /*├───────├───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┤───────┤*/
            /*│       │  $        │  >        │  }        │  )        │  ]        │                           │  \        │  @        │  %        │  #        │  |        │       │*/
                &none   LCH(DLLR)   LAH(GT)     LGH(RBRC)   LSH(RPAR)   &kp RBKT  /*                         */ &kp BSLH    RSH(AT)     RGH(PRCNT)  RAH(HASH)   RCH(PIPE)   &none
            /*╰───────╰───────────┴───────────┼───────────┼───────────┼───────────┼───────────╮   ╭───────────┼───────────┼───────────┼───────────┼───────────┴───────────╯───────╯*/
            /*                                            │  ~        │           │           │   │           │           │           │                                            */
                                                            &kp TILDE   &none       &none     /* */ &none       &none       &none
            /*                                            ╰───────────┴───────────┤           │   │           ├───────────┴───────────╯                                            */
            /*                                                                    ╰───────────╯   ╰───────────╯                                                                    */
            >;
        };
        system {
            bindings = <
            /*╭───────╭───────────┬───────────┬───────────┬───────────┬───────────╮                           ╭───────────┬───────────┬───────────┬───────────┬───────────╮───────╮*/
            /*│       │           │           │           │           │           │                           │           │           │           │           │           │       │*/
                &none   BRI_DN      BRI_UP       VOL_DN      VOL_UP     MUTE      /*                         */ &a_ftree    &a_logc     &a_logd     &a_usage    &a_term     &none
            /*┼───────├───────────├───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┤───────┤*/
            /*│       │           │           │           │           │           │                           │           │           │           │           │           │       │*/
                &none   &none       &kp C_PREV  &kp C_PP    &kp C_NEXT  &none     /*                         */ &a_sh       &a_run      &a_debug    &none       &none       &none
            /*┼───────├───────────┼───────────┼───────────┼───────────├───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┤───────┤*/
            /*│       │           │           │           │           │           │                           │           │           │           │           │           │       │*/
                &none   &none       &bt BT_PRV  &bt BT_NXT  &bt BT_CLR  &none     /*                         */ &a_sv       &a_recent   &a_nfile    &a_pfile    &none       &none
            /*╰───────╰───────────┴───────────┼───────────┼───────────┼───────────┼───────────╮   ╭───────────┼───────────┼───────────┼───────────┼───────────┴───────────╯───────╯*/
            /*                                            │           │           │           │   │           │           │           │                                            */
                                                            &none       &none       &none     /* */ &a_action   &a_file     &a_class
            /*                                            ╰───────────┴───────────┤           │   │           ├───────────┴───────────╯                                            */
            /*                                                                    ╰───────────╯   ╰───────────╯                                                                    */
            >;
        };
        function {
            bindings = <
            /*╭───────╭───────────┬───────────┬───────────┬───────────┬───────────╮                           ╭───────────┬───────────┬───────────┬───────────┬───────────╮───────╮*/
            /*│       │  F1       │  F2       │  F3       │  F4       │  F5       │                           │  F6       │  F7       │  F8       │  F9       │  F10      │       │*/
                &none   &kp F1      &kp F2      &kp F3      &kp F4      &kp F5    /*                         */ &kp F6      &kp F7      &kp F8      &kp F9      &kp F10     &none
            /*├───────├───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┤───────┤*/
            /*│       │           │           │           │           │  F11      │                           │  F12      │           │           │           │           │       │*/
                &none   &none       &none       &none       &none       &kp F11   /*                         */ &kp F12     &none       &none       &none       &none       &none
            /*├───────├───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┤───────┤*/
            /*│       │           │           │           │           │           │                           │           │           │           │           │           │       │*/
                &none   &kp LCTRL   &kp LALT    &kp LGUI    &kp LSHIFT  &none     /*                         */ &none       &kp RSHIFT  &kp RGUI    &kp RALT    &kp RCTRL   &none
            /*╰───────╰───────────┴───────────┼───────────┼───────────┼───────────┼───────────╮   ╭───────────┼───────────┼───────────┼───────────┼───────────┴───────────╯───────╯*/
            /*                                            │           │           │           │   │           │           │           │                                            */
                                                            &none       &none       &none     /* */ &none       &none       &none
            /*                                            ╰───────────┴───────────┤           │   │           ├───────────┴───────────╯                                            */
            /*                                                                    ╰───────────╯   ╰───────────╯                                                                    */
            >;
        };
        colemak_dh {
            bindings = <
            /*╭───────╭───────────┬───────────┬───────────┬───────────┬───────────╮                           ╭───────────┬───────────┬───────────┬───────────┬───────────╮───────╮*/
            /*│       │  Q        │  W        │  F        │  P        │  B        │                           │  J        │  L        │  U        │  Y        │  '"`      │       │*/
                &none   &kp Q       &kp W       &kp F       &kp P       &kp B     /*                         */ &kp J       &kp L       &kp U       &kp Y       &qtg        &none
            /*├───────├───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┤───────┤*/
            /*│       │  A        │  R        │  S        │  T        │  G        │                           │  M        │  N        │  E        │  I        │  O        │       │*/
                &none   &kp A       &kp R       &kp S       &kp T       &kp G     /*                         */ &kp M       &kp N       &kp E       &kp I       &kp O       &none
            /*├───────├───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┤───────┤*/
            /*│       │  Z        │  X        │  C        │  D        │  V        │                           │  K        │  H        │  ,;       │  .:       │  ?!       │       │*/
                &none   LCH(Z)      LAH(X)      LGH(C)      LSH(D)      &kp V     /*                         */ &kp K       RSH(H)      RGHC        RAHD        RCHQ        &none
            /*╰───────╰───────────┴───────────┼───────────┼───────────┼───────────┼───────────╮   ╭───────────┼───────────┼───────────┼───────────┼───────────┴───────────╯───────╯*/
            /*                                            │           │           │           │   │           │           │           │                                            */
                                                            &mo SYS     &mo LWR     &kp LSHIFT/* */ &kp SPACE   &mo RSE     &kp LALT
            /*                                            ╰───────────┴───────────┤           │   │           ├───────────┴───────────╯                                            */
            /*                                                                    ╰───────────╯   ╰───────────╯                                                                    */
            >;
        };
        system_reversed {
            bindings = <
            /*╭───────╭───────────┬───────────┬───────────┬───────────┬───────────╮                           ╭───────────┬───────────┬───────────┬───────────┬───────────╮───────╮*/
            /*│       │           │           │           │           │           │                           │           │           │           │           │           │       │*/
                &none   &a_sh       &none       &a_debug    &a_run      &none     /*                         */ VOL_DN      VOL_UP      MUTE        BRI_DN      BRI_UP      &none
            /*┼───────├───────────├───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┤───────┤*/
            /*│       │           │           │           │           │           │                           │           │           │           │           │           │       │*/
                &none   &a_sv       &a_pfile    &a_nfile    &a_recent   &none     /*                         */ &kp C_PREV  &kp C_PP    &kp C_NEXT  &none       &none       &none
            /*┼───────├───────────┼───────────┼───────────┼───────────├───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┤───────┤*/
            /*│       │           │           │           │           │           │                           │           │           │           │           │           │       │*/
                &none   &a_usage    &a_logd     &a_logc     &a_ftree    &a_term   /*                         */ &bt BT_PRV  &bt BT_NXT  &bt BT_CLR  &none       &none       &none
            /*╰───────╰───────────┴───────────┼───────────┼───────────┼───────────┼───────────╮   ╭───────────┼───────────┼───────────┼───────────┼───────────┴───────────╯───────╯*/
            /*                                            │           │           │           │   │           │           │           │                                            */
                                                            &a_class    &a_file     &a_action /* */ &none       &none       &none
            /*                                            ╰───────────┴───────────┤           │   │           ├───────────┴───────────╯                                            */
            /*                                                                    ╰───────────╯   ╰───────────╯                                                                    */
            >;
        };
    };
};