#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define QWR 0
#define LWR 1
#define RSE 2
#define TRD 3
#define UTL 4

#include "common/aliases.dtsi"
#include "common/macros.dtsi"
#include "common/behaviors.dtsi"

/ {
    keymap {
        compatible = "zmk,keymap";
        qwerty {
            bindings = <
            /*╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮                           ╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮*/
                &kp NUBS    &kp N1      &kp N2      &kp N3      &kp N4      &kp N5    /*                         */ &kp N6      &kp N7      &kp N8      &kp N9      &kp N0      &none
            /*├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤*/
                &kp ESC     &kp Q       &kp W       &kp E       &kp R       &kp T     /*                         */ &kp Y       &kp U       &kp I       &kp O       &kp P       &kp BSPC
            /*├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤*/
                &kp TAB     LCH(A)      LAH(S)      LGH(D)      LSH(F)      LHH(G)    /*                         */ RHH(H)      RSH(J)      RGH(K)      RAH(L)      RCH(SQT)    &kp RET
            /*├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤───────────╮   ╭───────────├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤*/
                &caps_word  &kp Z       &kp X       &kp C       LMH(V)      &kp B       &kp MUTE  /* */ &kp MUTE    &kp N       RMH(M)      &kp COMMA   &kp DOT     &kp QMARK   &kp DEL
            /*╰───────────┴───────────┼───────────┼───────────┼───────────┼───────────┼───────────╮   ╭───────────┼───────────┼───────────┼───────────┼───────────┼───────────┴───────────╯*/
                                        &none       &none       &mo TRD     &mo LWR     &kp LSHIFT/* */ &kp SPACE   &mo RSE     &kp LALT    &none       &none
            /*                        ╰───────────┴───────────┴───────────┴───────────┤           │   │           ├───────────┴───────────┴───────────┴───────────╯                        */
            /*                                                                        ╰───────────╯   ╰───────────╯                                                                        */
            >;

            sensor-bindings = <
                &inc_dec_kp BRI_DN BRI_UP &inc_dec_kp VOL_DN VOL_UP
            >;
        };
        lower {
            bindings = <
            /*╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮                           ╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮*/
                &none       &none       &none       &none       &none       &none     /*                         */ &none       &none       &none       &none       &none       &none
            /*├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤*/
                &none       &kp BRI_DN  &kp BRI_UP  &kp VOL_DN  &kp VOL_UP  &kp MUTE  /*                         */ &none       &kp C_PREV  &kp C_PP    &kp C_NEXT  &kp BSPC    &kp BSPC
            /*├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤*/
                &none       &kp LCTRL   &kp LALT    &kp LGUI    &kp LSHIFT  &caps_word/*                         */ &kp LEFT    &kp DOWN    &kp UP      &kp RIGHT   &kp RET     &kp RET
            /*├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤───────────╮   ╭───────────├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤*/
                &none       &none       &none       &scrnshot   &scrncut    &none       &none     /* */ &none       &kp TAB     &kp ESC     &none       &none       &kp DEL     &kp DEL
            /*╰───────────┴───────────┼───────────┼───────────┼───────────┼───────────┼───────────╮   ╭───────────┼───────────┼───────────┼───────────┼───────────┼───────────┴───────────╯*/
                                        RESET       BOOT_L      &none       &none       &none     /* */ &kp SPACE   &trans      &trans      &trans      &trans
            /*                        ╰───────────┴───────────┴───────────┴───────────┤           │   │           ├───────────┴───────────┴───────────┴───────────╯                        */
            /*                                                                        ╰───────────╯   ╰───────────╯                                                                        */
            >;

            sensor-bindings = <
                &inc_dec_kp BRI_DN BRI_UP &inc_dec_kp VOL_DN VOL_UP
            >;
        };
        raise {
            bindings = <
            /*╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮                           ╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮*/
                &none       &none       &none       &none       &none       &none     /*                         */ &none       &none       &none       &none       &none       &none
            /*├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤*/
                &kp ESC     &euro       &kp MINUS   &kp PLUS    &kp PIPE    &kp CARET /*                         */ &kp LBRC    &kp RBRC    &kp LT      &kp GT      &kp GRAVE   &kp BSPC
            /*├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤*/
                &kp TAB     LCH(TILDE)  LAH(FSLH)   LGH(ASTRK)  LSH(BSLH)   LHH(PRCNT)/*                         */ RHH(LPAR)   RSH(RPAR)   RGH(AT)     RAH(HASH)   RCH(DQT)    &kp RET
            /*├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤───────────╮   ╭───────────├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤*/
                &none       &pound      &kp UNDER   &kp EQUAL   LMH(AMPS)   &kp DLLR    &none     /* */ &none       &kp LBKT    RMH(RBKT)   &kp SEMI    &kp COLON   &kp EXCL    &kp DEL
            /*╰───────────┴───────────┼───────────┼───────────┼───────────┼───────────┼───────────╮   ╭───────────┼───────────┼───────────┼───────────┼───────────┼───────────┴───────────╯*/
                                        &trans      &trans      &trans      &trans      &trans    /* */ &none       &none       &none       BOOT_L      RESET
            /*                        ╰───────────┴───────────┴───────────┴───────────┤           │   │           ├───────────┴───────────┴───────────┴───────────╯                        */
            /*                                                                        ╰───────────╯   ╰───────────╯                                                                        */
            >;

            sensor-bindings = <
                &inc_dec_kp BRI_DN BRI_UP &inc_dec_kp C_PREV C_NEXT
            >;
        };
        third {
            bindings = <
            /*╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮                           ╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮*/
                &none       &none       &none       &none       &none       &none     /*                         */ &none       &none       &none       &none       &none       &none
            /*├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤*/
                &none       &kp F1      &kp F2      &kp F3      &kp F4      &kp F5    /*                         */ &kp F6      &kp F7      &kp F8      &kp F9      &kp F10     &none
            /*├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤*/
                &none       LCH(N1)     LAH(N2)     LGH(N3)     LSH(N4)     &kp N5    /*                         */ &kp N6      RSH(N7)     RGH(N8)     RAH(N9)     RCH(N0)     &none
            /*├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤───────────╮   ╭───────────├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤*/
                &none       &none       &none       &none       &none       &kp F11     &none     /* */ &none       &kp F12     &none       &none       &none       &none       &none
            /*╰───────────┴───────────┼───────────┼───────────┼───────────┼───────────┼───────────╮   ╭───────────┼───────────┼───────────┼───────────┼───────────┼───────────┴───────────╯*/
                                        &none       &none       &none       &none       &none     /* */ &none       &none       &none       &none       &none
            /*                        ╰───────────┴───────────┴───────────┴───────────┤           │   │           ├───────────┴───────────┴───────────┴───────────╯                        */
            /*                                                                        ╰───────────╯   ╰───────────╯                                                                        */
            >;

            sensor-bindings = <
                &inc_dec_kp BRI_DN BRI_UP &inc_dec_kp VOL_DN VOL_UP
            >;
        };
        utils {
            bindings = <
            /*╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮                           ╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮*/
                &none       &none       &none       &none       &none       &none     /*                         */ &none       &none       &none       &none       &none       &none
            /*├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤*/
                &none       &kp BRI_DN  &kp BRI_UP  &kp VOL_DN  &kp VOL_UP  &kp MUTE  /*                         */ &none       &kp C_PREV  &kp C_PP    &kp C_NEXT  &lock       &none
            /*├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤*/
                &none       &none       &none       &none       &none       &none     /*                         */ &none       &none       &none       &none       &none       &none
            /*├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤───────────╮   ╭───────────├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤*/
                &none       &none       &none       &scrnshot   &scrncut    &none       &none     /* */ &none       &none       &none       &bt BT_PRV  &bt BT_NXT  &bt BT_CLR  &none
            /*╰───────────┴───────────┼───────────┼───────────┼───────────┼───────────┼───────────╮   ╭───────────┼───────────┼───────────┼───────────┼───────────┼───────────┴───────────╯*/
                                        &none       &none       &none       &none       &none     /* */ &none       &none       &none       &none       &none
            /*                        ╰───────────┴───────────┴───────────┴───────────┤           │   │           ├───────────┴───────────┴───────────┴───────────╯                        */
            /*                                                                        ╰───────────╯   ╰───────────╯                                                                        */
            >;

            sensor-bindings = <
                &inc_dec_kp BRI_DN BRI_UP &inc_dec_kp VOL_DN VOL_UP
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        system_layer {
            if-layers = <LWR RSE>;
            then-layer = <UTL>;
        };
    };
};
